{% extends 'base.html' %}
{% block content %}
    <h1>Home</h1>
    <p> Welcome to WorldOfLeaks!</p>

    <p>WorldOfLeaks is a community driven site website where you can find add-ons for {{nb}} flight simulation games. You can add add-ons at the top-right corner, after registration.</p>

    <div id="games">
        {%for game in games%}
            <ul>
                <a href="/game/{{game.name}}/1">
                    <li>
                        <img id="image_list" src="{{game.picture | safe}}" alt="{{game.name}}" width="100%" height="100%">
                        <div id="sub">{{game.name | upper}}</div>
                    </li>
                </a>
            </ul>
        {%endfor%}
    <div>
        
{% endblock %}